In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from scipy import stats

#linear regression
from sklearn.linear_model import LinearRegression

#preprocessing sklearn
#LabelEncoder
from sklearn.preprocessing import LabelEncoder

#RMSE
from sklearn.metrics import mean_squared_error

In [3]:
df = pd.read_csv("TSLA Historical Data4_bulan.csv")

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62 entries, 0 to 61
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Date      62 non-null     object
 1   Price     62 non-null     float64
 2   Open      62 non-null     float64
 3   High      62 non-null     float64
 4   Low       62 non-null     float64
 5   Vol.      62 non-null     object
 6   Change %  62 non-null     object
dtypes: float64(4), object(3)
memory usage: 3.5+ KB

## Pre-processing data

#### Delete null,duplicates,and wrong data

In [5]:
df.dropna(inplace = True)
df.drop_duplicates(inplace = True)

#### Collect data

In [6]:
df.drop(columns =['Vol.','Change %'],axis=1,inplace = True)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 62 entries, 0 to 61
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    62 non-null     object
 1   Price   62 non-null     float64
 2   Open    62 non-null     float64
 3   High    62 non-null     float64
 4   Low     62 non-null     float64
dtypes: float64(4), object(1)
memory usage: 2.9+ KB

### I Will create normalization with no normalization

In [8]:
df_norm = df.reset_index(drop = True)

In [9]:
df_norm.head()

         Date   Price    Open    High     Low
0  03/31/2023  207.46  197.53  207.79  197.20
1  03/30/2023  195.28  195.58  197.33  194.42
2  03/29/2023  193.88  193.13  195.29  189.44
3  03/28/2023  189.19  192.00  192.35  185.43
4  03/27/2023  191.81  194.41  197.39  189.94

In [10]:
scaler = MinMaxScaler()

NameError: name 'MinMaxScaler' is not defined

In [ ]:
df

In [ ]:
#Price

df['Price'] = scaler.transform(df_norm['Price'])
df

In [ ]:
df_norm.head()

In [ ]:
#Open
scaler.fit(df_norm[['Open']])
df_norm['Open'] = scaler.transform(df_norm['Open'])
#High
scaler.fit(df_norm[['High']])
df_norm['High'] = scaler.transform(df_norm['High'])
#low
scaler.fit(df_norm[['Low']])
df_norm['Low'] = scaler.transform(df_norm['Low'])